$green: #3a5f56;

.parent {
  width: 100%;
  overflow: hidden;
  position: relative;
  .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #3a5f56;
    padding: 100px 20px;
    gap: 85px;
    max-width: 1110px;
    margin: 0 auto;
    .title {
      font-family: "Roboto";
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 22px;
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: center;
      gap: 15px;
      p {
        text-align: center;
        width: 500px;
      }
    }
  }

}
