<div class="parent">
  <div class="content">
    <div class="paraf">
      <p >Hi, I'm James Mirro & I'm a photographer.</p>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
        varius enim in eros elementum tristique. Duis cursus, mi quis viverra
        ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat.
        Aenean faucibus nibh et justo cursus id rutrum lorem imperdiet. Nunc ut
        sem vitae risus tristique posuere.
      </p>
      <button>Read More</button>
    </div>
    <div>
      <img src="/assets/img/IMAGE.png" />
    </div>
  </div>
  <div class="blue"></div>
  <div class="red"></div>
</div>

<app-container-about [item]="name"></app-container-about>
<app-about-card></app-about-card>
<app-store-container></app-store-container>