$green: #3a5f56;

.parent {
  width: 100%;
  overflow: hidden;
  background-color: #f4f3f0;
  position: relative;
  .content {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #3a5f56;
    padding: 100px 20px;
    gap: 85px;
    max-width: 1110px;
    margin: 0 auto;
    .paraf {
      display: flex;
      flex-direction: column;
      gap: 36px;
    }

    .paraf > p {
      font-family: "Source Serif Pro";
      font-style: normal;
      font-weight: 400;
      font-size: 48px;
      line-height: 58px;
    }
    .paraf > p:nth-child(2) {
      font-family: "Roboto";
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 22px;
    }
    button {
      border-radius: 6px;
      background-color: #3a5f56;
      padding: 12px 0;
      width: 30%;
      color: white;
    }
  }
  .blue {
    background: radial-gradient(
      50% 50% at 50% 50%,
      rgba(58, 95, 86, 0.55) 0%,
      rgba(58, 95, 86, 0) 100%
    );
    width: 600px;
    height: 600px;
    position: absolute;
    right: -150px;
    top: -150px;
  }
  .red {
    background: radial-gradient(
      50% 50% at 50% 50%,
      rgba(184, 125, 88, 0.8) 0%,
      rgba(184, 125, 88, 0) 100%
    );
    width: 600px;
    height: 600px;
    position: absolute;
    left: -150px;
    bottom: -150px;
  }
}
