$white: #ffffff;

.parent {
  display: flex;
  justify-content: space-between;
  background: $white;
  box-shadow: 0 0 11px 0 grey;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  align-items: center;
  padding: 0 20px;
  background-color: white;
  height: 60px;


    img {
      width: 7rem;
      height: 1.6rem;
    }
  

  ul {
    display: flex;
    list-style-type: none;
    gap: 10px;
    li {
      a {
        text-decoration: none;
        font-size: 1rem;
        font-family: monospace;
        text-transform: uppercase;
        color: unset;
        letter-spacing: 1px;
        transition: 0.5s;

        &:hover {
          font-weight: bold;
          transition: 0.5s;
          cursor: pointer;
        }
      }
    }
  }
}
