<div *ngFor="let e of arr">
  <div *ngIf="id == e.id" class="uniqueCard">
    <img
      src="https://media-cldnry.s-nbcnews.com/image/upload/t_fit-560w,f_auto,q_auto:best/newscms/2018_30/1355945/home-exterior-today-180726-tease.jpg"
    />
    <div>
      <p class="title">{{ e.name }}</p>
      <ul>
        <li>PRICE ~ {{ e.price }}</li>
        <li>BEDROOMS ~ 4</li>
        <li>BATHROOMS ~ 2 full</li>
        <li>INTERIOR ~ 3,943 Sq Ft.</li>
        <li>EXTERIOR ~ 4.76 Acre(s)</li>
      </ul>
      <p>  This beautiful home is in a gated community in
        Holly Ranch Estates. Private and surrounded by trees and beauty on 4.76
        acres. The living room has soaring ceilings with wood wrapped windows,
        formal dining room, kitchen with eating space and family room. This home
        has one of bedrooms on the main& two utility rooms upstairs and
        downstairs, office on the main. Extra bonus room upstairs for your
        entertainment. Hot tub on patio stays along with outdoor shed. Raised
        flowerbeds are ready for your summer garden. Circular driveway &Rv
        Parking. Call today. Listing Courtesy of John L. Scott Everett
      </p>
    </div>
  </div>
</div>
